/* :global(.vtex-login-2-x-container){
    background-image: url("https://avantivtexio.vtexassets.com/assets/vtex/assets-builder/avantivtexio.store-theme/0.0.0/img/desktop/user___f311137127224b10917945e6b0a15072.png");
    width: 24px;
    height: 28px;
    padding: 0;
    justify-content: center;
}

:global(.vtex-login-2-x-button):hover{
    background-image: url("https://avantivtexio.vtexassets.com/assets/vtex/assets-builder/avantivtexio.store-theme/0.0.0/img/desktop/user___f311137127224b10917945e6b0a15072.png");
    width: 24px;
    height: 28px;
    padding: 0;
} */

/* .profileIcon{
    display: flex;
    padding: 0;
    margin: 0;
} */

